h1.title {
    font-size: xx-large;
    color: midnightblue;

    font-weight: bolder;
}
h1.title:hover {
    font-size: 4em;
    color: darkviolet;
}


/* Applies special hover effect for all table cells! */
.tableRow *:hover {
    color: indigo;
    font-size: x-large;
}

.decorationCardSection {
    display:flex;
    border: 5px solid black;
    border-radius: 15px;

    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;

    background-color: lightsteelblue;

    padding: 3em;
    margin: 0.5em;
}

.decorationCardSection .card {
    box-shadow: 3px 4px 5px;
}